<html>
    <head>
        <title><%=title%></title>
    </head>
    <body>
        <h1>ToDO List App</h1>

        <form action="/add-list" method="post">
            <input type="text" name="description" required>
            <input type="date" name="time" required>
            <button type="submit">Add</button>
        </form>

        <ul>
            <li>

            </li>
        </ul>
    </body>
</html>