<html>
    <head>
        <title><%=title%></title>
    </head>
    <body>
        <h1>ToDO List App</h1>

        <form action="/add-list" method="post">
            <input type="text" name="description" required>
            <input type="date" name="time" required>
            <button type="submit">Add</button>
        </form>

        <ul>
            <% for(let i of todo_list){ %>
                <li>
                    <h3>
                        <%= i.des %>
                    </h3>
                    <p>Date: <%=i.date %></p>
                </li>

            <%} %>
        </ul>

    </body>
</html>