body{
    margin: 0;
    text-align: center;
    background-color: rgb(136, 129, 129);
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
}

#centre{
    background-color: white;
    margin: auto;
    width: 500px;
    height: auto;
    margin-top: 5%;
}

.heading{
    padding: 15px;
    color: rgb(36, 7, 7);
}



.input-data{
    width: 100%;
    height: auto;
    margin: auto;
}

.input-data form{
    display: flex;
    flex-wrap: wrap;
}



.des-input{
    width: 100%;
    border-top: 1.5px solid grey;
    border-bottom: 1.5px solid grey;
}


.des-input label{
    float: left;
    padding: 3px;
    margin-left: 5px;
    color: gray;
}

.des-input input{
    width: 100%;
    border: none;
    padding: 3%;
}

.des-input input:focus{
    border: none;
    outline: none;
    background-color: rgb(198, 198, 209);
}



.cat-input{
    width: 49.5%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
}

.cat-input label{
    padding: 3px;
    margin-left: 25px;
    align-items: center;
    color: gray;
}

.cat-input select{
    width: 100%;
    border: none;
    padding: 3%;
}

.cat-input select:focus{
    border: none;
    outline: none;
    background-color: rgb(198, 198, 209);
}




.date-input{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    border-bottom: 1.5px solid grey;
    
    
}

.date-input label{
    padding: 3px;
    margin-left: 25px;
    color: gray;
}

.date-input input{
    width: 100%;
    border: none;
    padding: 3%;
}

.date-input input:focus{
    border: none;
    outline: none;
    background-color: rgb(198, 198, 209);
}

.input-data form button{
    margin-left: 40%;
    margin-top: 6%;
    padding: 18px;
    background-color: rgba(17, 17, 16, 0.726);
    border: none;
    border-radius: 5%;
    color: white;
}

.input-data form button i{
    margin-right: 2px;
}

.input-data form button:hover{
    cursor: pointer;
    background-color: green;
}

li{
    list-style: none;
    margin: 0;
}

.list{
    width: 500px;
}

li{
    display: inline;
}
ul{
    white-space:nowrap;
    overflow-x:hidden;
    margin: 0;
    padding: 0;
    margin: auto;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    background:linear-gradient(to right, #ffffcc 0%, #ff99cc 100%);
    width: 100%;
    flex-wrap: wrap;
    border-bottom: 1.5px solid rgb(5, 1, 1);
    justify-content: space-evenly;
}

.content .head-list{
    width: 100%;
    text-align: start;
    margin-left: 30px;
    font-size: 1.5rem;
    color: rgba(20, 20, 24, 0.925);
    
}

.content .head-list h3{
    margin-bottom: 0;
}

.content .due-list{
    width: 30%;
    text-align: start;
    font-size: 1rem;
    color: rgb(104, 96, 96);
    font-weight: bold;
    line-height: 0.5rem;
    letter-spacing: 1px;
}

.content .cat-list{
    width: 50%;
    text-align: end;
    margin-right: 50px;
    color: rgba(103, 103, 235, 0.911);
    font-size: 2rem;

    text-transform: uppercase;
}

.delete-btn{
    margin-bottom: 23px;
    
}

.delete-btn a button{
    padding: 8px 14px 14px 8px;
    border-radius: 10px;
    font-size: 1rem;
    border: none;
    background-color: red;
    color: white;
    font-weight: 100;
}

.delete-btn a button i{
    padding: 2px;
    margin-right: 2px;
    transition: 0.2s;
}

.delete-btn a button:hover{
    background-color: rgb(194, 21, 21);
    cursor: pointer;
}